.middle_box {
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
}
.middle_box h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}
.input_section {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 20px;
}
label {
  font-weight: 500;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 80px;
  font-size: 16px;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #3976ef;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #0b58f1;
  color: white;
  transition: background 0.5s ease, color 0.5s ease;
}
.result_box {
  margin-top: 30px;
  padding: 15px;
  background-color: #eef2ff;
  border-radius: 10px;
}
.result_box p {
  font-size: 25px;
  font-weight: bold;
}
footer {
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  text-align: center;
}
body {
  justify-content: center;
  align-items: center;
  background-color: #a2a2ab;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
